<div class="m-1">
  <h2 mat-dialog-title>Thông tin bệnh nhân</h2>

  <mat-dialog-content [formGroup]="patientForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Họ" formControlName="firstName" required >
        <div *ngIf="patientForm.controls.firstName?.touched && patientForm.controls.firstName?.errors && patientForm.invalid">
          <mat-error *ngIf="patientForm.controls.firstName?.errors.required"> Không được để trống trường này </mat-error>  
        </div>
      </mat-form-field>
    </div>
  
    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Tên" formControlName="lastName" required >
        <div *ngIf="patientForm.controls.lastName?.touched &&patientForm.controls.lastName?.errors && patientForm.invalid">
          <mat-error *ngIf="patientForm.controls.lastName?.errors.required"> Không được để trống trường này </mat-error>  
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="CMND/CCCD" formControlName="cardId" required >
        <div *ngIf="patientForm.controls.cardId?.touched &&patientForm.controls.cardId?.errors && patientForm.invalid">
          <mat-error *ngIf="patientForm.controls.cardId?.errors.required"> Không được để trống trường này </mat-error>  
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Số thẻ bảo hiểm y tế" formControlName="insuranceCardNumber">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Số điện thoại" formControlName="phone" required >
        <span matPrefix>+84&nbsp;</span>
        <mat-hint>Dùng số điện thoại để đăng nhập ( chỉ chấp nhận số trong KVVN )</mat-hint>
        <div *ngIf="patientForm.controls.phone?.touched &&patientForm.controls.phone?.errors && patientForm.invalid">
          <mat-error *ngIf="patientForm.controls.phone?.errors.required"> Không được để trống trường này </mat-error>  
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Địa chỉ e-mail" formControlName="email">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field>
        <mat-select formControlName="gender" placeholder="Giới tính">
          <mat-option [disabled]="g.id == 0" *ngFor="let g of genders" [value]="g.id">
            {{g.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <input type="hidden" formControlName="id"/>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-stroked-button" mat-button (click)="close()">Đóng</button>
    <button class="mat-stroked-button ml-2" mat-button *ngIf="id" (click)="openDeleteDialog(id)">Xóa</button>
    <button class="mat-stroked-button ml-2 mat-primary" mat-button [disabled]="patientForm.invalid" (click)="save()">{{ id ? 'Cập nhật' : 'Thêm mới' }}</button>
  </mat-dialog-actions>
</div>