<div class="m-1">
    <h2 mat-dialog-title>Thông tin chi tiết</h2>

    <mat-dialog-content [formGroup]="medicalHistoryForm">

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Thông tin lịch sử khám" formControlName="information" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <textarea matInput #input class="form-control" placeholder="Lời khuyên bác sĩ" formControlName="adviceFromDoctor"></textarea>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Chiều cao" formControlName="height" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Cân nặng" formControlName="weight" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Nhóm máu" formControlName="bloodGroup" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Huyết áp" formControlName="bloodPressure" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="Nhiệt độ" formControlName="tempBody" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <textarea matInput #input class="form-control" placeholder="Cách khắc phục" formControlName="remedial"></textarea>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <textarea matInput #input class="form-control" placeholder="Dấu hiệu bệnh" formControlName="signsOfIllness"></textarea>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <textarea matInput #input class="form-control" placeholder="Ghi chú" formControlName="note"></textarea>
            </mat-form-field>
        </div>

        <!-- <div class="form-group">
            <mat-form-field>
                <input matInput #input class="form-control" placeholder="ID Phòng ban" formControlName="appointmentId" required>
                <mat-error *ngIf="medicalHistoryForm.invalid"> Không được để trống trường này </mat-error>
            </mat-form-field>
        </div> -->

        <div class="form-group">
            <mat-form-field>
                <mat-select formControlName="appointmentId" placeholder="ID cuộc hẹn" required>
                    <mat-option *ngFor="let appointment of appointments" [value]="appointment.id">
                        {{appointment.departmentId}}
                    </mat-option>
                </mat-select>
                <!-- <div *ngIf="medicalHistoryForm.controls.appointmentId?.touched && medicalHistoryForm.controls.appointmentId?.errors && medicalHistoryForm.invalid">
                    <mat-error *ngIf="medicalHistoryForm.controls.appointmentId?.errors.required"> Không được để trống trường này </mat-error>
                </div> -->
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-select formControlName="userId" placeholder="ID Bệnh nhân" required>
                    <mat-option *ngFor="let patient of patients" [value]="patient.id">
                        {{patient.firstName}}
                    </mat-option>
                </mat-select>

                <div *ngIf="medicalHistoryForm.controls.userId?.touched && medicalHistoryForm.controls.userId?.errors && medicalHistoryForm.invalid">
                    <mat-error *ngIf="medicalHistoryForm.controls.userId?.errors.required"> Không được để trống trường này </mat-error>
                </div>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button ml-2 mat-primary" [disabled]="medicalHistoryForm.invalid" (click)="save()">Cập nhật</button>
    </mat-dialog-actions>

</div>