<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mt-3 timeline-wrapper" [hidden]="isLoaded">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>

        <div class="mt-3" [hidden]="!isLoaded" *ngIf="dataSource.data.length > 0">
            <div class="form-filter mx-auto mat-elevation-z8 mat-table" fxLayout fxLayoutAlign="center center">
                <mat-form-field class="ml-3 mt-1 mr-auto" fxFlex="40%">
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Chọn ngày: {{selected}}</mat-label>
                    <mat-select (selectionChange)="applyFilterDay()" [(value)]="selected" (focus)="suttupFilterDay()">
                        <mat-option value="">Tất cả</mat-option>
                        <mat-option [value]="today">Hôm nay</mat-option>
                        <mat-option [value]="nextday">Ngày mai</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mx-auto mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i + 1 + (paginator.pageIndex * paginator.pageSize)}}</td>
                </ng-container>

                <ng-container matColumnDef="appointmentCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã cuộc hẹn</th>
                    <td mat-cell *matCellDef="let element">{{ element.appointmentCode }}</td>
                </ng-container>

                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian bắt đầu</th>
                    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
                </ng-container>

                <ng-container matColumnDef="finishTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian kết thúc</th>
                    <td mat-cell *matCellDef="let element">{{ element.finishTime }}</td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vị trí</th>
                    <td mat-cell *matCellDef="let element">{{ element.location }}</td>
                </ng-container>

                <ng-container matColumnDef="patient">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bệnh nhân</th>
                    <td mat-cell *matCellDef="let element">{{ element.patient }}</td>
                </ng-container>

                <ng-container matColumnDef="nurse">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
                    <td mat-cell *matCellDef="let element">{{ element.nurse }}</td>
                </ng-container>

                <ng-container matColumnDef="doctor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bác sĩ</th>
                    <td mat-cell *matCellDef="let element">{{ element.doctor }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
                    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator class="mx-auto mat-elevation-z8 mat-table" #paginator [pageSize]="pageSize" [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>