<body data-col="1-column" class=" 1-column  blank-page  pace-done">

    <div class="wrapper">
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login">
                        <div class="container-fluid">
                            <div class="row full-height-vh m-0">
                                <div class="col-12 d-flex align-items-center justify-content-center">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body login-img">
                                                <div class="row m-0">
                                                    <div class="col-lg-6 d-lg-block d-none py-2 text-center align-middle">
                                                        <img src="../../../assets/img/gallery/login.png" alt="" class="img-fluid mt-5" width="400" height="230">
                                                    </div>
                                                    <form class="col-lg-6 col-md-12 bg-white px-4 pt-3" [formGroup]="loginForm" (submit)="onClick()">
                                                        <h4 class="mb-2 card-title">Đăng nhập</h4>
                                                        <p class="card-text mb-3">
                                                            Chào mừng trở lại, đăng nhập với tài khoản của bạn.
                                                        </p>
                                                        <input type="text" class="form-control mb-3" min="1" max="50" formControlName="phone" placeholder="Số điện thoại" required/>
                                                        <div *ngIf="loginForm.controls.phone?.touched && loginForm.controls.phone?.errors && loginForm.invalid">
                                                            <span *ngIf="loginForm.controls.phone?.errors.required"> Không được để trống trường này </span>
                                                        </div>
                                                        <input type="password" class="form-control mb-1" formControlName="password" placeholder="Mật khẩu" required/>
                                                        <div *ngIf="loginForm.controls.password?.touched && loginForm.controls.password?.errors && loginForm.invalid">
                                                            <span *ngIf="loginForm.controls.password?.errors.required"> Không được để trống trường này </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between mt-2">
                                                            <div class="remember-me">
                                                                <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                                                    <input type="checkbox" formControlName="rememberMe" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" />
                                                                    <label class="custom-control-label" for="customCheckboxInline1">
                                                                        Nhớ mật khẩu
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="forgot-password-option">
                                                                <a [routerLink]="['/auth/forgot']" class="text-decoration-none text-primary">Quên mật khẩu?</a>
                                                            </div>
                                                        </div>
                                                        <div class="fg-actions d-flex justify-content-between">
                                                            <div class="login-btn">
                                                                <button class="btn btn-outline-primary">
                                                                    <a [routerLink]="['/auth/register']" class="text-decoration-none">Đăng ký</a>
                                                                </button>
                                                            </div>
                                                            <div class="recover-pass">
                                                                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
                                                                    <a class="text-decoration-none text-white">Đăng nhập</a>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <hr class="m-0">
                                                        <!-- <div class="d-flex justify-content-between mt-3">
                                                            <div class="option-login">
                                                                <h6 class="text-decoration-none text-primary">Or Login With</h6>
                                                            </div>
                                                            <div class="social-login-options">
                                                                <a class="btn btn-social-icon mr-2 btn-facebook">
                                                                    <span class="fa fa-facebook"></span>
                                                                </a>
                                                                <a class="btn btn-social-icon mr-2 btn-twitter">
                                                                    <span class="fa fa-twitter"></span>
                                                                </a>
                                                            </div>
                                                        </div> -->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->
                </div>
            </div>
        </div>
    </div>
</body>