<!-- Sidebar Header starts -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a [routerLink]="['/']" class="logo-text float-left">
            <div class="logo-img">
                <img [src]="logoUrl" />
            </div>
            <span class="text align-middle">HDHT</span>
        </a>
        <a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">
            <i #toggleIcon appSidebarToggle class="ft-toggle-right toggle-icon" data-toggle="expanded"></i>
        </a>
        <a class="nav-close d-block d-md-block d-lg-none d-xl-none" id="sidebarClose" href="javascript:;">
            <i class="ft-x"></i>
        </a>
    </div>
</div>
<!-- Sidebar Header Ends -->

<!-- Sidebar Content starts -->
<div class="sidebar-content" [perfectScrollbar]>
    <div class="nav-container">
        <ul class="navigation" appSidebarList>
            <div *ngFor="let menuItem of menuItems">
                <li appSidebarlink level="{{depth + 1}}" [hidden]="compareRole(menuItem.role)" (toggleEmit)="handleToggle($event)" (click)="toggleSlideInOut()" [routePath]="menuItem.path" [classes]="menuItem.class" [title]="menuItem.title" [parent]=""
                    [ngClass]="{'has-sub': menuItem.class === 'has-sub' ? true: false, 'open': activeTitles.includes(menuItem.title) && !nav_collapsed_open ? true : false, 'nav-collapsed-open': nav_collapsed_open && activeTitles.includes(menuItem.title)}" [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a appSidebarAnchorToggle [routerLink]="menuItem.class === '' ? [menuItem.path] : null">
                        <i [ngClass]="[menuItem.icon]"></i>
                        <span class="menu-title">{{menuItem.title | translate }}</span>
                        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                    </a>
                    <ul class="menu-content" *ngIf="menuItem.submenu.length > 0" [@slideInOut]="activeTitles.includes(menuItem.title) ? true : false">
                        <li appSidebarlink level="{{depth + 2}}" (toggleEmit)="handleToggle($event)" [routePath]="menuSubItem.path" [classes]="menuSubItem.class" [title]="menuSubItem.title" [parent]="menuItem.title" *ngFor="let menuSubItem of menuItem.submenu" [routerLinkActive]="menuSubItem.submenu.length > 0 ? '' : 'active'"
                            [ngClass]="{'has-sub': menuSubItem.class === 'has-sub' ? true: false, 'open': activeTitles.includes(menuSubItem.title) && !nav_collapsed_open ? true : false, 'nav-collapsed-open': nav_collapsed_open && activeTitles.includes(menuSubItem.title)}">
                            <a appSidebarAnchorToggle [routerLink]="menuSubItem.submenu.length > 0 ? null : [menuSubItem.path]">
                                <i [ngClass]="[menuSubItem.icon]"></i>
                                <span class="menu-title">{{menuSubItem.title | translate }}</span>
                                <span *ngIf="menuSubItem.badge != '' " [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
                            </a>
                            <ul class="menu-content" *ngIf="menuSubItem.submenu.length > 0" [@slideInOut]="activeTitles.includes(menuSubItem.title) ? true : false">
                                <li appSidebarlink level="{{depth + 3}}" [routePath]="menuSubsubItem.path" [classes]="menuSubsubItem.class" [title]="menuSubsubItem.title" [parent]="menuSubItem.title" *ngFor="let menuSubsubItem of menuSubItem.submenu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    [ngClass]="[menuSubsubItem.class]">
                                    <a appSidebarAnchorToggle [routerLink]="[menuSubsubItem.path]">
                                        <i [ngClass]="[menuSubsubItem.icon]"></i>
                                        <span class="menu-title">{{menuSubsubItem.title | translate }}</span>
                                        <span *ngIf="menuSubsubItem.badge != '' " [ngClass]="[menuSubsubItem.badgeClass]">{{menuSubsubItem.badge}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</div>
<!-- Sidebar Content Ends -->

<!-- <div class="sidebar-content" [perfectScrollbar]>
    <div class="nav-container">
        <ul class="navigation">
            <div>
                <li (toggleEmit)="handleToggle($event)" (click)="toggleSlideInOut()">
                    <a routerLink='/management/dashboard' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ft-command"></i>
                        <span class="menu-title">Bảng điều khiển</span>
                    </a>
                </li>
            </div>

            <div>
                <li (toggleEmit)="handleToggle($event)" (click)="toggleSlideInOut()">
                    <a routerLink='/management/taskboard' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ft-list"></i>
                        <span class="menu-title">Công việc</span>
                    </a>
                </li>
            </div>

            <div>
                <li (toggleEmit)="handleToggle($event)" (click)="toggleSlideInOut()">
                    <a routerLink='/management/medical-history' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ft-file-text"></i>
                        <span class="menu-title">Lịch sử khám bệnh</span>
                    </a>
                </li>
            </div>

            <div>
                <li (click)="toggleSlideInOut()">
                    <a routePath="/management/appointments/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class=""></i>
                        <span class="menu-title">Tất cả cuộc hẹn</span>
                    </a>
                </li>
            </div>

            <div>
                <li routePath="/management/appointments/wait" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class=""></i>
                    <span class="menu-title">Cuộc hẹn đang chờ</span>
                </li>
            </div>

            <div>
                <li (toggleEmit)="handleToggle($event)" (click)="toggleSlideInOut()">
                    <a routerLink="/management/appointments/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ft-list"></i>
                        <span class="menu-title">Thêm cuộc hẹn</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div> -->

<!-- 
{
    path: 'doctors/list', title: 'Bác sĩ', icon: 'ft-user', class: '', badge: '', badgeClass: '', submenu: [], role: [ROLE.ADMIN, ROLE.NURSE]
},
{
    path: 'nurses/list', title: 'Y tá', icon: 'ft-users', class: '', badge: '', badgeClass: '', submenu: [], role: [ROLE.ADMIN]
},
{
    path: 'patients/list', title: 'Bệnh nhân', icon: 'ft-user-check', class: '', badge: '', badgeClass: '', submenu: [], role: [ROLE.ADMIN, ROLE.NURSE]
},
{
    path: 'departments/list', title: 'Khoa', icon: 'ft-user-check', class: '', badge: '', badgeClass: '', submenu: [], role: [ROLE.ADMIN]
} -->