<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thông Tin.</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Đường dẫn nhanh</h2>
                        <ul class="list-unstyled">
                            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/about}">Giới Thiệu</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/services}">Chuyên Khoa</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/doctors}">Bác Sĩ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pr-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Tin Tức</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Địa Chỉ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                                </li>
                                <li><a href="#"><span class="icon icon-phone"></span><span
                                        class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i
                            aria-hidden="true" class="icon-heart"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div class="show fullscreen" id="ftco-loader">
        <svg class="circular" height="48px" width="48px">
            <circle class="path-bg" cx="24" cy="24" fill="none" r="22"
                    stroke="#eeeeee" stroke-width="4"/>
            <circle class="path" cx="24" cy="24" fill="none" r="22"
                    stroke="#F96D00" stroke-miterlimit="10" stroke-width="4"/>
        </svg>
    </div>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="modalRequestLabel" class="modal fade col-md-12" id="modalRequest"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRequestLabel">Đặt lịch khám</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="lastName" placeholder="Họ" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="firtsName" placeholder="Tên" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="phoneNumber" placeholder="Số điện thoại" type="text">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="cmnd" placeholder="CMND/CCCD" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control " id="insuranceCard"
                                           placeholder="Số thẻ bảo hiểm (Nếu có)" type="text">
                                </div>
                            </div>
                        </div>
                        <div class=form-group>
                            <select id="department" class="form-control">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control appointment_date" id="pickDate" placeholder="Chọn ngày"
                                   type="text">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control appointment_time" id="startTime"
                                           placeholder="Thời gian bắt đầu" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control appointment_time" id="endTime"
                                           placeholder="Thời gian kết thúc dự kiến" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" cols="30" id="notes" name="" placeholder="Mô tả triệu chứng"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" onclick="appointment()">Đặt Lịch Khám</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function listDepartment() {
            $.ajax({
                type: "GET",
                url: "api/departments",
                contentType: "application/json;charset=UTF-8",
                dataType: 'json',
                success: function (data) {
                    dataDepartment(data);
                }
            });
        }

        function dataDepartment(data) {
            var listDepartment = data;
            if (listDepartment != null) {
                //reset form
                $('#department').empty();
                //generate html body
                $.each(listDepartment, function (i, item) {
                    var html = '<option value="' + item.id + '">' + item.name + '</option>';
                    //append to body
                    $('#department').append(html);

                });
            } else {
                alert("FAILED");
            }
        }

        function appointment() {
            var data = {
                "firstName": $('#firtsName').val(),
                "lastName": $('#lastName').val(),
                "phone": $('#phoneNumber').val(),
                "cardId": $('#cmnd').val(),
                "insuranceCardNumber": $('#insuranceCard').val(),
                "startTime": $('#startTime').val(),
                "finishTime": $('#endTime').val(),
                "departmentId": $('#department').val(),
                "date": $('#pickDate').val(),
                "note": $('#notes').val()
            }
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: 'json',
                url: "api/addAppoiment",
                data: JSON.stringify(data),
                success: function (result) {
                    alert("ok");
                }
            });
        }
    </script>

    <script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/jquery.animateNumber.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/jquery.timepicker.min.js}"></script>
    <script th:src="@{/js/scrollax.min.js}"></script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false}"></script>
    <script th:src="@{/js/google-map.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    </body>
</th:block>