<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:utext="#{${#httpServletRequest.getRequestURI()}}">Weather-app</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--[if lt IE 9]>
        <script th:src="@{http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js}"></script>
        <![endif]-->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.simplePagination.js}"></script>
        <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700}" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.css}">

        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">

        <link rel="stylesheet" th:href="@{/css/aos.css}">

        <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">

        <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
        <link rel="stylesheet" th:href="@{/css/jquery.timepicker.css}">

        <link rel="stylesheet" th:href="@{/css/flaticon.css}">
        <link rel="stylesheet" th:href="@{/css/icomoon.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <!--Dangky-->
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" th:href="@{/css/util.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<!--        <link rel="stylesheet" th:href="@{/css/app.css}">-->
    </head>

    <body>
</th:block>