<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">HDHT <span>MEDICAL</span></a>
            <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#ftco-nav" data-toggle="collapse" type="button">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/}">Trang Chủ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">Giới Thiệu</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/services}">Chuyên Khoa</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/doctors}">Bác Sĩ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/blog}">Tin Tức</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contacts}">Liên Hệ</a></li>
                    <li class="nav-item cta mr-3"><a class="nav-link" href="http://localhost:4200/auth/login"
                                                     target="_blank"><span>Đăng Nhập</span></a>
                    </li>
                    <li class="nav-item cta mr-3"><a class="nav-link" th:href="@{/account/register}"
                                                     target="_blank"><span>Đăng ký</span></a>
                    </li>
                    <li class="nav-item cta">
                        <a class="nav-link" data-target="#modalRequest" data-toggle="modal" onclick="listDepartment()">
                            <span>Đặt Lịch Khám</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

</th:block>