<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mt-3 timeline-wrapper" [hidden]="isLoaded">
            <div class="timeline-item m-5">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>

        <div class="mt-3" [hidden]="!isLoaded">
            <div class="form-filter mx-auto mat-elevation-z8 mat-table" fxLayout fxLayoutAlign="center center">
                <mat-form-field class="ml-3 mt-1 mr-auto" fxFlex="40%">
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                </mat-form-field>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mx-auto mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i + 1 + (paginator.pageIndex * paginator.pageSize)}}</td>
                </ng-container>

                <ng-container matColumnDef="appointmentId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-note-header">Mã cuộc hẹn</th>
                    <td mat-cell *matCellDef="let element">{{ element.appointmentId }}</td>
                </ng-container>

                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-note-header">Ma người dùng</th>
                    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
                </ng-container>

                <ng-container matColumnDef="information">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thông tin</th>
                    <td mat-cell *matCellDef="let element">{{ element.information }}</td>
                </ng-container>

                <ng-container matColumnDef="adviceFromDoctor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-note-header">Lời khuyên</th>
                    <td mat-cell *matCellDef="let element">{{ element.adviceFromDoctor }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="action-header"> Tùy chọn </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="disable-border-button" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button class="disable-border-button" mat-menu-item (click)="toForm(element.id)">Xem chi tiết</button>
                            <!-- <button class="disable-border-button" mat-menu-item (click)="toForm(element.id)">Cập nhật</button> -->
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator class="mx-auto mat-elevation-z8 mat-table" #paginator [pageSize]="pageSize" [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>