<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div style="background-color: rgba(160,246,223,0.31); padding: 20px;">
    <span>Hello <span th:text="${name}"></span>,</span>
    <p>
<!--        We received a request to reset the password for the Weather account associated with this e-mail address.-->
<!--        Click <u><a th:href="${url}">here</a></u> to reset your password using our secure server.-->
        Tài khoản của bạn vừa được tạo trên hệ thống HDHT - Medical,
        Mật khẩu của bạn là: <th:block><b th:text="${password}"></b></th:block>
    </p>
    <p>
        Thank you for using HDHT - Medical.
    </p>
    <p>
        Develop Team, <br/>
        <em>The HDHT - Medical System Team.</em>
    </p>
</div>
</body>
</html>