<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="mt-3 timeline-wrapper" [hidden]="isLoaded">
      <div class="timeline-item">
        <div class="animated-background">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </div>
    </div>

    <div class="mt-3" [hidden]="!isLoaded" *ngIf="dataSource.data.length == 0">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <p class="card-text" style="margin: auto 25px;">
                      Hiện chưa có cuộc hẹn trong hệ thống!
                    </p>
    
                    <div class="mr-3 mt-1 ml-auto">
                      <button mat-raised-button color="primary" (click)="toForm(0)">
                        Thêm mới
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3" [hidden]="!isLoaded" *ngIf="dataSource.data.length > 0">
      <div class="form-filter mx-auto mat-elevation-z8 mat-table" fxLayout fxLayoutAlign="center center">
        <mat-form-field class="ml-3 mt-1 mr-auto" fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
        </mat-form-field>

        <div class="mr-3 mt-1 ml-auto">
           <button mat-raised-button color="primary" (click)="toForm(0)">Thêm mới</button>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mx-auto mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i + 1 + (paginator.pageIndex * paginator.pageSize)}}</td>
        </ng-container>

        <ng-container matColumnDef="appointmentCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã cuộc hẹn</th>
          <td mat-cell *matCellDef="let element">{{ element.appointmentCode }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày khám</th>
          <td mat-cell *matCellDef="let element">{{ millisToUTCDate(element.startTime) | date:'M/dd/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian bắt đầu</th>
          <td mat-cell *matCellDef="let element">{{ millisToUTCDate(element.startTime) | date:'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="finishTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian kết thúc</th>
          <td mat-cell *matCellDef="let element">{{ millisToUTCDate(element.finishTime) | date:'shortTime'}}</td>
        </ng-container>

        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bệnh nhân</th>
          <td mat-cell *matCellDef="let element">{{ element.patientDTO?.firstName + ' ' + element.patientDTO?.lastName }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="nurse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
          <td mat-cell *matCellDef="let element">{{ element.createdByUser?.firstName + ' ' + element.createdByUser?.lastName }}</td>
        </ng-container> -->

        <ng-container matColumnDef="departmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Khoa khám</th>
          <td mat-cell *matCellDef="let element">{{ element.departmentName }}</td>
        </ng-container>

        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bác sĩ</th>
          <td mat-cell *matCellDef="let element">
            <div class="doctor-hover">
                <i *ngIf="!element.doctorDTO" class="fas fa-question-circle"></i>
                <span *ngIf="!element.doctorDTO" class="tooltip">Chưa có bác sĩ nào được chọn</span>
            </div>
            <span *ngIf="element.doctorDTO">{{  element.doctorDTO ? (element.doctorDTO?.firstName + ' ' + element.doctorDTO?.lastName) : ' Chưa có bác sĩ nào được chọn ' }}</span></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
          <td mat-cell *matCellDef="let element">{{ element.status === 1 ? 'Đang duyệt' : 'Đã duyệt'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="action-header"> Tùy chọn </th>
            <td mat-cell *matCellDef="let element"> 
              <button class="disable-border-button" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <button class="disable-border-button" mat-menu-item (click)="toForm(element.id)">Cập nhật</button>
                  <button class="disable-border-button" mat-menu-item (click)="openDeleteDialog(element.id, element.appointmentCode)">Xóa</button>              
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator class="mx-auto mat-elevation-z8 mat-table"
        #paginator [pageSize]="pageSize"
        [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" 
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        (page)="pageEvent = handlePage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
