<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .simple-pagination ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .simple-pagination li {
        display: inline-block;
        margin-right: 5px;
    }

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

    .simple-pagination .current {
        color: #FFF;
        background-color: #4da6ff;
        border-color: #4da6ff;
    }

    .simple-pagination .prev.current,
    .simple-pagination .next.current {
        background: #0059b3;
    }
</style>
<th:block th:replace="common/head :: head"></th:block>

<th:block th:replace="common/header :: header"></th:block>

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" data-stellar-background-ratio="0.5"
         style="background-image: url('images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
                            class="mr-2"><a th:href="@{/}">Trang chủ</a></span> <span>Chuyên Khoa</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Các chuyên khoa</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <a class="btn btn-info" data-toggle="modal" data-target="#myModal">Đăng bài</a>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row" id="data-blog">
<!--                    <div class="col-md-12 ftco-animate" th:each="listblog : ${blog}">-->
<!--                        <div class="blog-entry" data-toggle="modal" data-target="#editBlog">-->
<!--                            <a class="block-20" ><img th:src="@{'''data:image/jpeg;base64,'''+${listblog.image}}" width="730" height="380" /></a>-->
<!--                            <div class="text d-flex py-4">-->
<!--                                <div class="meta mb-3">-->
<!--                                    <div><a th:text="${listblog.createDate}"></a></div>-->
<!--                                    <div><a>Admin</a></div>-->
<!--                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>-->
<!--                                </div>-->
<!--                                <div class="desc pl-sm-3 pl-md-5">-->
<!--                                    <h3 class="heading"><a id="blogName-${listblog.id}" th:text="${listblog.name}"></a></h3>-->
<!--                                    <p id="blogText-${listblog.id}" th:text="${listblog.text}"></p>-->
<!--                                    <p><a class="btn btn-primary btn-outline-primary" th:href="@{/blog-single}">Read-->
<!--                                        more</a></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <div class="block-27">
                            <div id="pagination-container"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- END: col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input class="form-control" placeholder="Type a keyword and hit enter" type="text">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Categories</h3>
                        <li><a href="#">Food <span>(12)</span></a></li>
                        <li><a href="#">Dish <span>(22)</span></a></li>
                        <li><a href="#">Desserts <span>(37)</span></a></li>
                        <li><a href="#">Drinks <span>(42)</span></a></li>
                        <li><a href="#">Ocassion <span>(14)</span></a></li>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a class="tag-cloud-link" href="#">dish</a>
                        <a class="tag-cloud-link" href="#">menu</a>
                        <a class="tag-cloud-link" href="#">food</a>
                        <a class="tag-cloud-link" href="#">sweet</a>
                        <a class="tag-cloud-link" href="#">tasty</a>
                        <a class="tag-cloud-link" href="#">delicious</a>
                        <a class="tag-cloud-link" href="#">desserts</a>
                        <a class="tag-cloud-link" href="#">drinks</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                        voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                        similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Modal Add Blog -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm tin tức</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <h4>Ảnh</h4>
                        <div class="form-group">
                            <input type="file" class="form-control" id="imageAdd" style="width: 730px; height: 350px;">
                        </div>
                        <h4>Tiêu đề</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameAdd">
                        </div>
                        <h4>Nội dung</h4>
                        <div class="form-group">
                            <textarea class="form-control" id="textAdd" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="addBlog()">Đăng</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Blog-->
<div class="modal fade" id="editBlog" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm tin tức</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <input type="hidden" id="idBog"/>
                        <h4>Ảnh</h4>
                        <div class="form-group">
                            <input type="file" class="form-control" id="imageEdit" style="width: 730px; height: 350px;">
                        </div>
                        <h4>Tiêu đề</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameEdit">
                        </div>
                        <h4>Nội dung</h4>
                        <div class="form-group">
                            <textarea class="form-control" id="textEdit" rows="3"></textarea>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="editBlog()">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        listBlog();
    });
    /*List Blog*/
    function listBlog() {
        $.ajax({
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: 'json',
            url: "api/blog",
            success: function (result) {
                showBlog(result);
            }
        });
    }
    /*Phân Trang*/
    jQuery(function ($) {
        var items = $("#page div .blog-entry");
        var numItems = items.length;
        var perPage = 4;
        items.slice(perPage).hide();
        $("#pagination-container").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
    });
    //js convert file to base64
    function convertFileToBase64(imageFile) {
        var dfd = jQuery.Deferred();
        var base64String = null;
        if (imageFile) {
            var reader = new FileReader();

            reader.onload = function (readerEvt) {
                var binaryString = readerEvt.target.result;
                base64String = btoa(binaryString);
                dfd.resolve(base64String);
            };
            reader.readAsBinaryString(imageFile);
        } else {
            dfd.resolve(base64String);
        }
        return dfd.promise();
    }
    /*Add Blog*/
    function addBlog() {
        $.when(convertFileToBase64(document.getElementById('imageAdd').files[0])).done(function (resultq) {
            var data = {
                "name": $('#nameAdd').val(),
                "text": $('#textAdd').val(),
                "image": resultq
            }

            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "api/blog",
                data: JSON.stringify(data),
                success: function (result) {
                    showBlog(result);
                }
            });
        });
    }
    /*Edit Blog*/
    function setDataModel(idB) {
        $('#idBog').val($('#idBog-' + idB).text());
        $('#imageEdit').val($('#blogImage-' + idB).text());
        $('#nameEdit').val($('#blogName-' + idB).text());
        $('#textEdit').val($('#blogTexet-' + idB).text());
        $('#imageEditEdit').val($('#blogImage-' + idB).text());
    }
    function editBlog() {
        $.when(convertFileToBase64(document.getElementById('imageEdit').files[0])).done(function (resultq) {
            var data = {
                "name": $('#nameEdit').val(),
                "text": $('#textEdit').val(),
                "image": resultq
            }

            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "api/blog/edit",
                data: JSON.stringify(data),
                success: function (result) {
                    showBlog(result);
                }
            });
        });
    }



    function showBlog(result) {
        var listDepart = result;
        if (listDepart != null) {
            //reset form
            $('#data-doctor').empty();
            //generate html body
            $.each(listDepart, function (i, item) {
                var html = '<div class="col-md-12 ftco-animate fadeInUp ftco-animated" id="page">\n' +
                        '<input type="hidden" id="idBog-'+item.id+'" value="'+item.id+'">'+
                    '                        <div class="blog-entry" data-toggle="modal" data-target="#editBlog" onclick="setDataModel('+item.id+')">\n' +
                    '                            <a class="block-20" ><img id="blogImage-'+item.id+'" src="data:image/png;base64,'+item.image+'" width="730" height="380"> </a>\n' +
                    '                            <div class="text d-flex py-4">\n' +
                    '                                <div class="meta mb-3">\n' +
                    '                                    <div><a >'+item.createDate+'</a></div>\n' +
                    '                                    <div><a>Admin</a></div>\n' +
                    '                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>\n' +
                    '                                </div>\n' +
                    '                                <div class="desc pl-sm-3 pl-md-5">\n' +
                    '                                    <h3 class="heading"><a id="blogName-'+item.id+'">'+item.name+'</a></h3>\n' +
                    '                                    <p id="blogTexet-'+item.id+'">'+item.text+'</p>\n' +
                    '                                    <p><a class="btn btn-primary btn-outline-primary" >Read\n' +
                    '                                        more</a></p>\n' +
                    '                                </div>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '                    </div>';

                $('#data-blog').append(html);

            });
        } else {
            alert("FAILED");
        }
    }

</script>
<th:block th:replace="common/footer :: footer"></th:block>

</html>