<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .simple-pagination ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .simple-pagination li {
        display: inline-block;
        margin-right: 5px;
    }

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

    .simple-pagination .current {
        color: #FFF;
        background-color: #4da6ff;
        border-color: #4da6ff;
    }

    .simple-pagination .prev.current,
    .simple-pagination .next.current {
        background: #0059b3;
    }
</style>
<th:block th:replace="common/head :: head"></th:block>

<th:block th:replace="common/header :: header"></th:block>

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" data-stellar-background-ratio="0.5"
         style="background-image: url('/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true" th:each="listD: ${doctorByDepartment}">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a th:href="@{/}">Trang Chủ</a></span> <span>Khoa</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}"><a th:text="${listD.departmentName}"></a></h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-3">Giới thiệu</h2>
            </div>
            <div class="row">
                <h4 class="mb-3">Thông tin khoa</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,
                    quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro
                    adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis,
                    enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta
                    architecto tempora.</p>
                <p>
                <h4 class="mb-3">Trang thiết bị</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,
                    quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro
                    adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis,
                    enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta
                    architecto tempora.</p>
                <p>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-3">Thông tin Bác Sĩ</h2>
            </div>
        </div>
        <!--Show Doctors-->
        <div class="row" id="data-doctor">
            <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate" th:each="listDoctor: ${doctorByDepartment}">
                <div class="staff" data-toggle="modal" data-target="#modalDoctor"
                     th:attrappend="data-target=${listDoctor.id}">
                    <div class="img mb-4" style="background-image: url(/images/person_5.jpg);"></div>
                    <div class="info text-center">
                        <h3><p th:text="${listDoctor.firstName} +' '+ ${listDoctor.lastName}"></p></h3>
                        <span class="position" th:text="${listDoctor.departmentName}"></span>
                        <span th:text="${listDoctor.function}"></span>
                        <div class="text">
                            <ul class="ftco-social">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pagination-container"></div>
    </div>
</section>

</section>
<!--Modal: modalVM-->
<div th:each="listD : ${doctorByDepartment}">
    <div class="modal fade right" id="modalDoctor" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" th:attrappend="id=${listD.id}">
        <div class="modal-dialog momodel modal-fluid" role="document"
             style="  width: 75% !important;  padding: 30px !important;  max-width:none !important;">
            <div class="modal-content "
                 style=" height: auto !important; min-height: 100% !important; border-radius: 0 !important; margin-top: 80px;">
                <div class=" modal-header ">
                    <div class="media ">
                        <img class="d-flex mr-3" th:src="@{/images/person_2.jpg}" alt="Generic placeholder image"
                             width="120px" style="border-radius: 50%">
                        <div class="media-body">
                            <div style="padding: 25px 1px">
                                <h5 class="mt-0 font-weight-bold">Bác sĩ
                                    <a th:text=" ' ' + ${listD.lastName} +' '+ ${listD.firstName}"></a>
                                </h5>
                                <span th:text="${listD.function}"></span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="card border-primary">
                                <h6 class="card-header text-center">
                                    <a data-toggle="collapse" data-target="#collapse-example" aria-expanded="true"
                                       aria-controls="collapse-example" id="heading-example" class="d-block"
                                       th:attrappend="data-target=${listD.id}">
                                        Giới thiệu
                                    </a>
                                </h6>
                                <div id="collapse-example" class="collapse show" aria-labelledby="heading-example"
                                     th:attrappend="id=${listD.id}">
                                    <div class="card-body">
                                        <p th:text="${listD.intro}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="card border-primary">
                                <h6 class="card-header text-center">
                                    <a data-toggle="collapse" data-target="#collapse-function" aria-expanded="true"
                                       aria-controls="collapse-example" id="heading-function" class="d-block"
                                       th:attrappend="data-target=${listD.id}">
                                        Chức vụ
                                    </a>
                                </h6>
                                <div id="collapse-function" class="collapse show" aria-labelledby="heading-function"
                                     th:attrappend="id=${listD.id}">
                                    <div class="card-body">
                                        <p th:text="${listD.function}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-primary">
                                <h6 class="card-header text-center">
                                    <a data-toggle="collapse" data-target="#collapse-experience" aria-expanded="true"
                                       aria-controls="collapse-example" id="heading-experience" class="d-block"
                                       th:attrappend="data-target=${listD.id}">
                                        Kinh nghiệm
                                    </a>
                                </h6>
                                <div id="collapse-experience" class="collapse show" aria-labelledby="heading-experience"
                                     th:attrappend="id=${listD.id}">
                                    <div class="card-body">
                                        <p th:text="${listD.experience}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="card border-primary">
                                <h6 class="card-header text-center">
                                    <a data-toggle="collapse" data-target="#collapse-department" aria-expanded="true"
                                       aria-controls="collapse-example" id="heading-department" class="d-block"
                                       th:attrappend="data-target=${listD.id}">
                                        Chuyên khoa
                                    </a>
                                </h6>
                                <div id="collapse-department" class="collapse show" aria-labelledby="heading-department"
                                     th:attrappend="id=${listD.id}">
                                    <div class="card-body">
                                        <p th:text="${listD.departmentName}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-primary">
                                <h6 class="card-header text-center">
                                    <a data-toggle="collapse" data-target="#collapse-studying" aria-expanded="true"
                                       aria-controls="collapse-example" id="heading-studying" class="d-block"
                                       th:attrappend="data-target=${listD.id}">
                                        Quá trình đào tạo
                                    </a>
                                </h6>
                                <div id="collapse-studying" class="collapse show" aria-labelledby="heading-studying"
                                     th:attrappend="id=${listD.id}">
                                    <div class="card-body">
                                        <p th:text="${listD.studying}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal: modalVM-->
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#data-doctor .staff");
        var numItems = items.length;
        var perPage = 4;
        items.slice(perPage).hide();
        $("#pagination-container").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
    });
</script>
<th:block th:replace="common/footer :: footer"></th:block>
</html>