<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="common/head :: head"></th:block>

<th:block th:replace="common/header :: header"></th:block>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img th:src="@{/images/img-01.png}" alt="IMG">
            </div>
            <form th:object="${patientDTO}" class="login100-form validate-form" method="post">
					<span class="login100-form-title">
						Đăng ký tài khoản
					</span>


                <div class="wrap-input100 validate-input">
                    <input class="input100" th:field="*{lastName}" placeholder="Họ đệm" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="icon-user" aria-hidden="true"></i>
                    </span>

                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" th:field="*{firstName}" placeholder="Tên" required>
                    <span class="focus-input100">
                    </span>
                    <span class="symbol-input100">
                        <i class="icon-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="email" th:field="*{email}" name="email" placeholder="Email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="icon-paper-plane" aria-hidden="true"></i>
						</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{phone}" name="phone" placeholder="Số điện thoại"
                           required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="icon-phone2" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" th:field="*{cardId}" placeholder="Số chứng minh">
                    <span class="focus-input100">
                    </span>
                    <span class="symbol-input100">
                            <i class="icon-card_membership" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" th:field="*{insuranceCardNumber}" placeholder="Số thẻ BHYT">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                            <i class="icon-contact_mail" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" th:field="*{password}" name="pass" placeholder="Mật khẩu" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="icon-compass" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="icon-compass" aria-hidden="true"></i>
                    </span>
                </div>
                <!--                <div class="wrap-input100 validate-input" data-validate="Password is required">-->
                <!--                    <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">-->
                <!--                    <span class="focus-input100"></span>-->
                <!--                    <span class="symbol-input100">-->
                <!--							<i class="icon-compass" aria-hidden="true"></i>-->
                <!--						</span>-->
                <!--                </div>-->

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Đăng ký
                    </button>
                </div>

                <div class="text-center p-t-136">

                    <a class="txt2" th:href="@{/account/forgot}">
                        Quên mật khẩu?
                        <i class="icon-user m-l-5" aria-hidden="true"></i>
                    </a>

                    <a class="txt2" href="http://localhost:4200/auth/login">
                        Quay lại đăng nhập!
                        <i class="icon-user m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="common/footer :: footer"></th:block>

</html>