<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .simple-pagination ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .simple-pagination li {
        display: inline-block;
        margin-right: 5px;
    }

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

    .simple-pagination .current {
        color: #FFF;
        background-color: #4da6ff;
        border-color: #4da6ff;
    }

    .simple-pagination .prev.current,
    .simple-pagination .next.current {
        background: #0059b3;
    }
</style>
<th:block th:replace="common/head :: head"></th:block>

<th:block th:replace="common/header :: header"></th:block>

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" data-stellar-background-ratio="0.5"
         style="background-image: url('images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
                            class="mr-2"><a href="index.html">Trang chủ</a></span> <span>Chuyên khoa</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Chuyên Khoa</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-2">Thông tin chuyên khoa</h2>
                <p>Thông tin những khoa người dùng có thể xem chi tiết </p>
            </div>
        </div>
        <div class="row" id="data-depart">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate" th:each="listDepartment :${department}">
                <div class="card-body" >
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-anesthesia"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <a th:href="@{'services/showdepartbydoctor/'+${listDepartment.id}}">
                                <h3 class="heading" th:text="${listDepartment.name}"></h3>
                            </a>
                            <!--<p th:text="${listDepartment.introduction}"></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pagination-container"></div>
    </div>
</section>

<section class="ftco-section ftco-counter img"
         data-stellar-background-ratio="0.5" id="section-counter"
         style="background-image: url(images/bg_1.jpg);">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-3 aside-stretch py-5">
                <div
                        class=" heading-section heading-section-white ftco-animate pr-md-4">
                    <h2 class="mb-3">Thành tựu</h2>
                    <p>Trở thành một điểm đến hàng đầu trong lĩnh vực chăm sóc bệnh nhân chuyên nghiệp.</p>
                </div>
            </div>
            <div class="col-md-9 py-5 pl-md-5">
                <div class="row">
                    <div
                            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="14">0</strong> <span>Năm kinh nghiệm</span>
                            </div>
                        </div>
                    </div>
                    <div
                            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="4500">0</strong>
                                <span>Bác sĩ đủ tiêu chuẩn	</span>
                            </div>
                        </div>
                    </div>
                    <div
                            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="4200">0</strong> <span>Khách hàng thân thiết</span>
                            </div>
                        </div>
                    </div>
                    <div
                            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="320">0</strong> <span>Bệnh nhân mỗi năm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#data-depart div .card-body");
        var numItems = items.length;
        var perPage = 8;
        items.slice(perPage).hide();
        $("#pagination-container").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
    });
</script>
<th:block th:replace="common/footer :: footer"></th:block>

</html>